body {
    font-family: none;
    font-family: 'Ubuntu';
}

.container>h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans';
}

h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu';
}

/* -------------------- background image -------------------- */
html { 
  background: url(palm-tree-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    background: none;
}


/* -------------------- navbar -------------------- */
body {
    padding-top: 70px;
}

/* -------------------- zip code dropdown -------------------- */
select option:first-child {
    color: #999;
}
select.empty {
    color: #999;
}
/* Hidden placeholder */
select option[disabled]:first-child {
    display: none;
}




/* -------------------- footer -------------------- */
html, body {
    /*margin: 0;*/
    /*padding: 0;*/
    height: 100%;
}
#body-contents {
    min-height: 100%;
    position: relative;
}
#content {
    padding-bottom: 100px; /* Height of the footer */
}
#footer {
    background-color: #333;
    color: #8c8c8c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;   /* Height of the footer */
    line-height: 50px;
    text-align: center;
}
#footer a {
    color: #8c8c8c;
}
#footer a:hover {
    color: #fff;
}